<div class="container">
    <div class="newWord">
        <div>
            <input type="text" placeholder="Add a new word" pInputText [(ngModel)]="inputText"> 
        </div>
        <div>
            <button type="button" pButton label="Add" (click)="addWord()"></button>
        </div>
    </div>
    <div>
        <p-listbox 
        [options]="words" 
        [(ngModel)]="selectedWords" 
        [metaKeySelection]="false" 
        [filter]="true" 
        optionLabel="name" 
        styleClass="listbox-style"
        >
            <ng-template let-word pTemplate="item">
                <div class="word">
                    <div class="text">{{word.name}}</div>
                    <div class="edit">
                        <button pButton type="button" icon="pi pi-pencil" (click)="editWord(word)"></button>
                        <button pButton type="button" icon="pi pi-trash" (click)="deleteWord(word)"></button>
                    </div>
                </div>
            </ng-template>
        </p-listbox>
    </div>

</div>

