<div class="container">
    <div class="newWord">
        <div>
            <input type="text" placeholder="Add a new word" pInputText [(ngModel)]="inputText"> 
        </div>
        <div>
            <button type="button" pButton label="Add" (click)="addWord()"></button>
        </div>
    </div>
    <div>
        <p-listbox 
        [options]="words" 
        [(ngModel)]="selectedWords" 
        [metaKeySelection]="false" 
        [filter]="true" 
        optionLabel="word" 
        styleClass="listbox-style"
        >
            <ng-template let-item pTemplate="item">
                <div class="word">
                    <div  *ngIf="!item.edit" class="text">{{item.word}}</div>
                    <input *ngIf="item.edit" type="text" pInputText [(ngModel)]="editingWord"> 
                    <div class="edit">
                        <button pButton *ngIf="!item.edit" type="button" icon="pi pi-pencil" (click)="editWord(item)"></button>
                        <button pButton *ngIf="item.edit" type="button" icon="pi pi-check" (click)="update(item)"></button>
                        
                        <button pButton type="button" icon="pi pi-trash" (click)="deleteWord(item)"></button>
                    </div>
                </div>
            </ng-template>
        </p-listbox>
    </div>

</div>

